* {
    font-family: 'Roboto',monospace;
}

body {
    display:flex;
    flex-direction: column;
}

.hero,
.header{
    background-color: #1F2937;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0vw 10vw;
}

.header > .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}


.links > ul{
    display:flex;
    list-style-type: none;
    padding: 0px;
    gap: 10px;
    color: #F9FAF8;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 2vh 10vw;
}

.left-hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:5px;
    justify-content: center;
    padding-right: 40px;
}

.hero-main-text{
    width: 90%;
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.hero-secondary-text, .links{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width:140px;
    background-color: #3882F6;
    color: #F9FAF8;
}

.right-hero{
    display:flex;
    color: #F9FAF8;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    text-align: center;
}

.image{
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
    
    object-fit: contain;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 10vw;
}

.info-title{
    padding:20px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:30px;
}

.card{
    width: 150px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-image{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    display:flex;
    border-radius: 25px;
    border: 3px solid #3882F6;
}

.card-subtitle{
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    color: #1F2937;
}

.quote-container{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 7vh 20vw;
}

.quote-text{
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
}

.quote-owner{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    color: #1F2937;
}

.action{
    display: flex;
    justify-content: center;
    padding: 2vw 10vw;
}

.action .banner {
    display:flex;
    flex:1;
    border-radius: 20px;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    gap: 10px;
}

.action .text{
    display: flex;
    flex-direction: column;
    color:#E5E7EB;
}

.action .text .main{
    font-size: 30px;
    font-weight: bold;
}

.action .text .secondary{
    font-size: 20px;
}

.action button{
    padding:13px 10px;
    background-color: rgba(255,255,255,0);
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #E5E7EB;
    color: #E5E7EB;
}

.footer {
    padding: 5vh 10vw;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;   
    text-align: center;

}